<nav class="navbar navbar-inverse" id="navbars">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="webname">GITHUB SEARCH</a>
        </div>
        <ul class="nav navbar-nav" id="list">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#" routerLink="profile" routerLinkActive="active">USERS<span class ='sr-only'>(current)</span></a></li>
            <li><a href="#" routerLink="repositories" routerLinkActive="active">REPOSITORIES</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

        </ul>
    </div>
</nav>